nav{
    text-align: left;
}

table, th, td {
    border: 3px solid white;
    border-collapse: collapse; 
    background-color: rgb(245, 223, 220);

}

th, td {
    padding: 8px 20px;
}

th {
    background-color: red;
    color: white;
    font-size: 20px;
    
}

td {
    width: 4500px;
    font-size: 18px
}
footer {
    font-size: 20px;
    color: red;
    text-align: center
  
}

h1 {
    color: red
}
    
*{
    font-family: Arial, Helvetica, sans-serif;
    
}